.flex {
  border: 1px solid grey;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}
.flex__item {
  padding: 10px;
  border-bottom: 2px solid rgb(219, 224, 224);
}
.flex__header {
  font-size: 30px;
}
